table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
  }
  
  /* tr:hover {
    background-color: #f2f2f2;
  } */
  
  .status-icon-green, .status-icon-grey {
    display: inline-block;
    width: 64px;
    height: 24px;
    border-radius: 50%;
  }
  
  .status-icon-green {
    background-color: #4CAF50;
  }
  
  .status-icon-grey {
    background-color: #ccc;
  }
  
  /* button {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
   */
  .dropdown-item:hover {
    color: black;
  }

  .addForm {
    width: 300px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="checkbox"] {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    width: auto;
  }