<div class="container mt-4">
  
    <!-- <h2>Hotels</h2><br> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid ">
        <a class="navbar-brand ms-2 " href="#"> Hotels</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <fa-icon [icon]="faFilter"></fa-icon> Filter
              </a>
              <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown1">
                <li><a class="dropdown-item text-secondary" href="#"><i class="bi bi-filter"></i> All</a></li>
                <li><a class="dropdown-item text-success" href="#"><i class="bi bi-check-circle-fill"></i> Active</a></li>
                <li><a class="dropdown-item text-danger" href="#"><i class="bi bi-x-circle-fill"></i> Inactive</a></li>
              </ul>
            </li>
          </ul> -->
          
          <select (ngModelChange)="filterHotels($event)"  ngModel="All" name="status" class="form-select bg-dark text-light ms-2 mt-2" style="width: fit-content;">
            <option class="text-light" default>All</option>
            <option class="text-success" value="active" >Active</option>
            <option class="text-danger" value="inactive" >Inactive</option>
          </select>
          <form class="d-flex ms-2 mt-2">
            <div class="input-group">
              <input class="form-control" [(ngModel)]="searchTerm" (input)="searchHotels(searchTerm)" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search" aria-label="Search" >
              <!-- <button class="btn btn-outline-light" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button> -->
            </div>
          </form>
          <button (click)="openModal()" class="btn btn-outline-light ms-2 mt-2"><fa-icon [icon]="faAdd"></fa-icon> New Hotel</button>
          <button (click)="printPage()" type="button" class="btn btn-outline-primary ms-2 mt-2"><fa-icon [icon]="faPrint"></fa-icon></button>
        </div>
      </div>
    </nav>
    
    <br>

    <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
      <ng-container *ngSwitchCase="DataState.LOADING_STATE">
        <div class="col-md-12 single-note-item text-center">
          <br>
          <!-- <div class="spinner-border text-info" role="status"></div> -->
          
      <!-- Loading Icon -->
      <fa-icon [icon]="faSpinner" size="2x" [pulse]="true" ></fa-icon>
  
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataState.LOADED_STATE">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let hotel of appState.appData.data.hotels; let i=index">
        <tr>
          <td><h5>{{ hotel.hotelName }}</h5></td>
          <td>{{ hotel.location }}</td>
          <td>{{ hotel.startDate | date }}</td>
          <td>{{ hotel.endDate | date }}</td>
          <td>
            <span class="badge"
            [ngClass]="[checkStatus(hotel.endDate, hotel.startDate) ? ' badge-pill badge-succes status-icon-green' : ' badge-pill badge-danger status-icon-grey']">
              {{ checkStatus(hotel.endDate, hotel.startDate) ? 'Active' : 'Inactive' }}
            </span>
          </td>
          <td>
            <button type="button" routerLink="/rooms/{{hotel.id}}" class="btn btn-outline-success btn-sm ms-2"><fa-icon [icon]="faShare"></fa-icon></button>
            <button type="button" class="btn btn-outline-primary btn-sm ms-2"><fa-icon [icon]="faPen"></fa-icon></button>
            <button type="button" (click)="deleteHotel(hotel)" class="btn btn-outline-danger btn-sm ms-2"><fa-icon [icon]="faTrash"></fa-icon></button>

          </td>
          
        </tr>
      </tbody>
    </table>
    </ng-container>
    <ng-container>
      <br>
      <div class="text-danger text-center">
        {{ appState.error }}
      </div>
    </ng-container>
  </ng-container>

  </div>

  <!-- my-modal.component.html -->
<div class="modal" id="addHotelModel" tabindex="-1" role="dialog" style="backdrop-filter: blur(5px);">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #hotelForm="ngForm" (ngSubmit)="saveHotel(hotelForm)">
      <div class="modal-header">
        <h5 class="modal-title"><fa-icon [icon]="faAdd"></fa-icon> New Hotel</h5>
        <button type="button" class="btn btn-outline-dark" (click)="closeModal()">
          <fa-icon [icon]="faCross"></fa-icon>
        </button>
      </div>
      <div class="container mt-4">
        <!-- <h2>Add Hotel</h2> -->
          <div class="form-group">
            <label for="hotelName">Name:</label>
            <input type="text" ngModel class="form-control" name="hotelName"  required>
          </div>
      
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" ngModel class="form-control" name="location"  required>
          </div>
      
          <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input type="date" ngModel class="form-control" id="startDate" name="startDate"  required>
          </div>
      
          <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="date" ngModel class="form-control" id="endDate" name="endDate" required [disabled]="false" >
          </div>
      
          <!-- <div class="form-check">
            <input type="checkbox" class="form-check-input" id="status" formControlName="status">
            <label class="form-check-label" for="status">Status</label>
          </div> -->
      
          <!-- <button type="submit" class="btn btn-primary">Add</button> -->
          
      </div>
      
      <div class="modal-footer">
        <p *ngIf="hotelForm.invalid" class="text-danger">Fill the form to continue!</p>
        <button type="submit" [disabled]="hotelForm.invalid || (isLoading$ | async)"
          class="btn btn-success ">
          <fa-icon *ngIf="isLoading$ |async" [icon]="faSpinner" [pulse]="true"></fa-icon>
          <span *ngIf="isLoading$ |async"> Saving...</span>
          <span *ngIf="!(isLoading$ |async)">Save</span>
        </button>
      </div>
      </form>
    </div>
  </div>
</div>