
<div class="container mt-4">
  <ng-container *ngIf="(hotel | async) as hotel" [ngSwitch]="hotelData">
    <!-- <h1>Hello</h1> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ng-container *ngSwitchCase="false">
        <fa-icon [icon]="faSpinner" size="2x" [pulse]="true" ></fa-icon>
    </ng-container>
    <ng-container *ngSwitchCase="true">
        <div class="container-fluid ">
          
            
            
                <div class="text-light ms-3"><h4> {{ hotel.data.hotel.hotelName }} </h4></div>
                <div class="text-light ms-3 mt-3"><p>|   {{ hotel.data.hotel.location }} </p></div>
                <div class="text-light ms-3 mt-3"><p>|   {{ hotel.data.hotel.startDate }} </p></div>
                <div class="text-light ms-3 mt-3"><p>|   {{ hotel.data.hotel.endDate }} </p></div>
            

          
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <span class="badge mt-2"
            [ngClass]="[checkStatus(hotel.data.hotel.endDate, hotel.data.hotel.startDate) ? ' badge-pill badge-succes status-icon-green' : ' badge-pill badge-danger status-icon-grey']">
              {{ checkStatus(hotel.data.hotel.endDate, hotel.data.hotel.startDate) ? 'Active' : 'Inactive' }}
            </span>
    
            <form class="d-flex ms-2 mt-2">
              <div class="input-group">
                <input class="form-control" [(ngModel)]="searchTerm" (input)="searchRooms(searchTerm)" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search" aria-label="Search " >
                <!-- <button class="btn btn-outline-light" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button> -->
              </div>
            </form>
            <button (click)="openModal()" class="btn btn-outline-light ms-2 mt-2"><fa-icon [icon]="faAdd"></fa-icon> New Room</button>
            <button (click)="printPage()" type="button" class="btn btn-outline-primary ms-2 mt-2"><fa-icon [icon]="faPrint"></fa-icon></button>
          </div>
        </div>
      </ng-container>
      </nav>
    </ng-container>

      <br>

      <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
        <ng-container *ngSwitchCase="DataState.LOADING_STATE">
          <div class="col-md-12 single-note-item text-center">
            <br>
            <!-- <div class="spinner-border text-info" role="status"></div> -->
            
        <!-- Loading Icon -->
        <fa-icon [icon]="faSpinner" size="2x" [pulse]="true" ></fa-icon>
    
          </div>
      </ng-container>
      <ng-container *ngSwitchCase="DataState.LOADED_STATE">

      <div *ngIf="appState.appData.data.rooms.length==0"><h4 class="text-danger">Please add rooms to view !</h4></div>
      <div *ngIf="appState.appData.data.rooms.length>0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Maximum Adult Count</th>
            <th>Available</th>
            <th>Price per Room</th>
            
          </tr>
        </thead>
        <tbody *ngFor="let room of appState.appData.data.rooms; let i=index">
          <tr>
            <td><h5>{{ room.roomType }}</h5></td>
            <td>{{ room.maxAdult }}</td>
            <td>{{ room.roomNumber }}</td>
            <td><h5>${{ room.price }}</h5></td>
            
            <!-- <td>
              <button type="button" routerLink="/rooms/{{hotel.id}}" class="btn btn-outline-success btn-sm ms-2"><fa-icon [icon]="faShare"></fa-icon></button>
              <button type="button" class="btn btn-outline-primary btn-sm ms-2"><fa-icon [icon]="faPen"></fa-icon></button>
              <button type="button" (click)="deleteHotel(hotel)" class="btn btn-outline-danger btn-sm ms-2"><fa-icon [icon]="faTrash"></fa-icon></button>
  
            </td> -->
            
          </tr>
        </tbody>
      </table>
    </div>
      </ng-container>
      <ng-container>
        <br>
        <div class="text-danger text-center">
          {{ appState.error }}
        </div>
      </ng-container>
    </ng-container>
</div>

<!-- my-modal.component.html -->
<div class="modal" id="addRoomModel" tabindex="-1" role="dialog" style="backdrop-filter: blur(5px);">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #roomForm="ngForm" (ngSubmit)="saveRoom(roomForm,hotelId)">
      <div class="modal-header">
        <h5 class="modal-title"><fa-icon [icon]="faAdd"></fa-icon> New Hotel</h5>
        <button type="button" class="btn btn-outline-dark" (click)="closeModal()">
          <fa-icon [icon]="faCross"></fa-icon>
        </button>
      </div>
      <div class="container mt-4">
        <!-- <h2>Add Hotel</h2> -->
          <div class="form-group">
            <label for="roomType">Room Type:</label>
            <input type="text" ngModel class="form-control" name="roomType"  required>
          </div>
      
          <div class="form-group">
            <label for="roomNumber">Available Rooms:</label>
            <input type="number" ngModel class="form-control" name="roomNumber" min="0"  required>
          </div>
      
          <div class="form-group">
            <label for="maxAdult">Maximum Adults:</label>
            <input type="number" ngModel class="form-control" name="maxAdult" min="0"  required>
          </div>
      
          <div class="form-group">
            <label for="price">Price($): </label>
            <input type="number" ngModel class="form-control" name="price" min="0" required>
          </div>
      
          <!-- <div class="form-check">
            <input type="checkbox" class="form-check-input" id="status" formControlName="status">
            <label class="form-check-label" for="status">Status</label>
          </div> -->
      
          <!-- <button type="submit" class="btn btn-primary">Add</button> -->
      </div>
      
      <div class="modal-footer">
        <button type="submit" [disabled]="roomForm.invalid || (isLoading$ | async)"
          class="btn btn-success ">
          <fa-icon *ngIf="isLoading$ |async" [icon]="faSpinner" [pulse]="true"></fa-icon>
          <span *ngIf="isLoading$ |async"> Saving...</span>
          <span *ngIf="!(isLoading$ |async)">Save</span>
        </button>
      </div>
      </form>
    </div>
  </div>
</div>