.status-icon-green, .status-icon-grey {
    display: inline-block;
    width: 64px;
    height: 24px;
    border-radius: 50%;
  }
  
  .status-icon-green {
    background-color: #4CAF50;
  }
  
  .status-icon-grey {
    background-color: #ccc;
  }